body{
    margin: 0px;
    background-color: white;
    font-family: 'Cabin', sans-serif;
}

.horizontal-menu-box {
    /*background-color:#f8002f;*/
    background-color: #f89257;

    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menuItem{
    margin: 1em;
    color: white;
}

.horizontal-menu-box a:link {
    text-decoration: none;
    color: #000c14;
}

.horizontal-menu-box a:visited {
    font-weight: 100;
    text-decoration: none;
    color: #000c14; /*black  new #000c14 */
}

.horizontal-menu-box a:hover {
    color: white;
}

.horizontal-menu-box a:active {
    color: white;
}

.menuItem .menu-item-inactive {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: #000c14;
    color: #000c14;
}

.rootContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    color: #f89257;

}
h1 {
    font-weight: 900;
    font-style: oblique;
    margin: 0.7em;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}

h2 {
    margin-top: 3em;
}

h3 {
    margin-top: 70px;
}

h4 {
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgba(248, 146, 87, 0.42);
}

table, th, td {
    border: 1px solid rgba(248, 146, 87, 0.61);
    padding: 0.3em;
    font-size: 0.93em;
    /*font-family: 'Cabin', sans-serif;*/
    color: #452918;
}

.content {
    /*background-color: yellow;*/
    align-content: center;
    max-width: 1024px;
    font-size: 1.05em;

    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    line-height: 1.1em;
}

blockquote{
    font-size: 1em;
    margin:5px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #101d0d;
    padding:0.1em 10px 0.1em 20px;
    border-left:8px solid #f89257 ;
    line-height:1.3;
    position: relative;
    background: rgba(248, 146, 87, 0.13);
}

blockquote::before{
    font-family:Arial;
    /*content: "\261E";*/
    font-style: normal;
    color:#f89257;
    font-size:2em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}

blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}




