{{ define "page" }}
    <a href="/java.html"> <h1> Java </h1> </a>
    <a href="/golang.html"> <h1> Go </h1> </a>
    <a href="/python.html"> <h1> Python </h1> </a>
    <a href="/javascript.html"> <h1> JavaScript </h1> </a>
    <a href="/kotlin.html"> <h1> Kotlin </h1> </a>
    <a href="/c.html"> <h1> C/C++ </h1> </a>
    <a href="/rust.html"> <h1> Rust </h1> </a>
{{ end }}
{{ define "title" }} Languages {{ end }}
{{ define "seo_meta" }}
    <meta name="description" content="data structures and algorithms in programming languages">
    <meta name="keywords" content="learn, explain, tutorial, data structures, algorithms, graph, tree, interview, java, golang, kotlin, python, javascript">
{{ end }}