body{
    margin: 0px;
    background-color: white;
    font-family: 'Cabin', sans-serif;
}

.horizontal-menu-box {
    /*background-color:#f8002f;*/
    background-color:#f88f55;

    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menuItem{
    /*font-weight: bold;*/
    margin: 1em;
    text-decoration: white;
    color: white;
}

.horizontal-menu-box a:link {
    text-decoration: none;
    color: #000c14;
    /*font-weight: bold;*/
}

.horizontal-menu-box a:visited {
    font-weight: 100;
    text-decoration: none;
    color: #000c14; /*black  new #000c14 */
}

.horizontal-menu-box a:hover {
    color: #f8002f;
}

.horizontal-menu-box a:active {
    color: #edeae6;
}

.menuItem .menu-item-inactive {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: #000c14;
    color: #000c14;
}

.rootContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-style: oblique;
    font-weight: bold;
    color: #f88f55;

    margin: 1em;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    /*background-color: yellow;*/
    align-content: center;
    max-width: 800px;
    font-size: 16px;

}

.contacts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



