{% extends "base.html" %}

{% block title %} About practical algorithms {% endblock title %}

{% block header %}
    {% set menu_item = "index" %}
    {% include "header.html" %}
{% endblock header %}


{% block seo_meta %}
    <meta name="description" content="data structures and algorithms in practice">
    <meta name="keywords" content="learn, explain, tutorial, data structures, algorithms, graph, tree, interview, java, golang, kotlin, python, javascript, rust">
{% endblock seo_meta %}


{% block content %}

<h1> Project objectives </h1>

<h2> Goals of the project: </h2>

<ul>
    <li> help learning data structures algorithms in practical way </li>
    <li> learn new programming languages </li>
    <li> prepare for interview </li>
</ul>

<h3>
If you found any error or want to propose your own solution <br/>
please create pull request in <a target="_blank" href="https://github.com/agapeteo/algoholics" > <strong>Algoholics project in Github </strong> </a>
</h3>


<br/>
<br/>
Active committer: <strong>Alex Gandzha</strong>


{% endblock content %}