body{
    margin: 0px;
    background-color: white;
    font-family: 'Cabin', sans-serif;
}

.horizontal-menu-box {
    /*background-color:#f8002f;*/
    background-color:#58A149;

    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menuItem{
    /*font-weight: bold;*/
    margin: 1em;
    text-decoration: white;
    color: white;
}

.horizontal-menu-box a:link {
    text-decoration: none;
    color: #000c14;
    /*font-weight: bold;*/
}

.horizontal-menu-box a:visited {
    font-weight: 100;
    text-decoration: none;
    color: #000c14; /*black  new #000c14 */
}

.horizontal-menu-box a:hover {
    color: #f8002f;
}

.horizontal-menu-box a:active {
    color: #edeae6;
}

.menuItem .menu-item-inactive {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: #000c14;
    color: #000c14;
}

.rootContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    color: #386830;

}
h1 {
    font-weight: 900;
    font-style: oblique;
    margin: 1em;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}
pre code {
    font-size: 10px;
}

code {
    color: #386830;
    font-size: 0.8em;
    size: 5px;
}

h2 {
    margin-top: 120px;
}

h3 {
    margin-top: 70px;
}

h4 {
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgba(88, 161, 73, 0.13);
}

table, th, td {
    border: 1px solid #386830;
    padding: 0.3em;
    font-size: 0.93em;
    /*font-family: 'Cabin', sans-serif;*/
    color: #172b14;
}

.content {
    /*background-color: yellow;*/
    align-content: center;
    max-width: 800px;
    font-size: 20px;

    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    line-height: 32px;


}

blockquote{
    font-size: 1.1em;
    margin:10px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #101d0d;
    padding:0.2em 20px 0.2em 40px;
    border-left:8px solid #58A149 ;
    line-height:1.5;
    position: relative;
    background: rgba(88, 161, 73, 0.13);
}

blockquote::before{
    font-family:Arial;
    /*content: "\261E";*/
    font-style: normal;
    color:#58A149;
    font-size:2em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}

blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}




