{{ define "base" }}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Practical algo | {{ template "title" . }} </title>
    <link rel='stylesheet' href='/static/styles/styles.css'/>
    <link rel='stylesheet' href='/static/styles/prism.css'/>
</head>

<body>

<div class="rootContainer">

    <div class="horizontal-menu-box">
        {{ template "header" . }}
    </div>

    <div class="content">
        {{ template "page" . }}
    </div>

</div>

<!-- root container -->
<script src="/static/js/prism.js"></script>
</body>
</html>

{{ end }}
