{{ define "header" }}
    <div class="menu">
    <!-- ABOUT -->
    <div class="menuItem">
        {{ if eq . "index.html" }}
            ABOUT
        {{ else }}
            <a href="/index.html" >
                ABOUT
            </a>
        {{ end }}
    </div>

    <!-- FUNDAMENTAL -->
    <div class="menuItem">
        {{ if eq . "fundamental.html" }}
            FUNDAMENTAL
        {{ else }}
            <a href="/fundamental.html" >
                FUNDAMENTAL
            </a>
        {{ end }}
    </div>

    <!-- BASIC -->
    <div class="menuItem">
        {{ if eq . "basic.html" }}
            BASIC
        {{ else }}
            <a href="/basic.html" >
                BASIC
            </a>
        {{ end }}
    </div>

     <!-- ADVANCED -->
     <div class="menuItem">
        {{ if eq . "advanced.html" }}
            ADVANCED
        {{ else }}
            <a href="/advanced.html" >
                ADVANCED
            </a>
        {{ end }}
    </div>

    <!-- NINJA -->
    <div class="menuItem">
        {{ if eq . "ninja.html" }}
            NINJA
        {{ else }}
            <a href="/ninja.html" >
                NINJA
            </a>
        {{ end }}
    </div>

    <!-- LANGUAGES -->
    <div class="menuItem">
        {{ if eq . "languages.html" }}
            LANGUAGES
        {{ else }}
            <a href="/languages.html" >
                LANGUAGES
            </a>
        {{ end }}
    </div>

</div>
{{ end }}
